@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color--info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;


    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);

    
}

*{
    margin:0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width:100vw;
    height:100vh;
    font-family: poppins,sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

button[type="submit"]{
    display:none;
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap:1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
    width:100%
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}


h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;

}



.profile-photo{
    width:2.8rem;
    height:2.8rem;
    border-radius:50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
     
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
    /* background: rgb(241, 1, 1); */

}

aside .top{
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:1.4rem
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}


/* =============sidebar========== */

aside .sidebar{
    background: white;
    display: flex;
    flex-direction: column;
    height:86vh;
    position: relative;
    top: 3rem;

}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color:  var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width:6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    /* background-color: #41f1b6; */
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
    /* background-color: #41f1b6; */
}

aside .sidebar a:hover span{
    margin-left:1rem;
}

/* ============================MAIN========================== */

main .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:0.1rem solid var(--color-primary) ;
    margin-top: 1rem;
    /* background: red; */
}

main .top h3{
    font-size: 1.1rem;
}

main .top a{
    display: flex;
    color:  var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

main .top a span{
    /* font-size: 1.6rem; */
    transition: all 300ms ease;
}

main .top a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

main .top a.active:before{
    content: "";
    width:6px;
    height: 100%;
    background: var(--color-primary);
}



main .top  a:hover{
    color: var(--color-primary);
    /* background-color: #41f1b6; */
    margin-bottom:1rem;
}

/* ========================LAMP======================== */
main .middle{
    display: grid;

    grid-template-rows: repeat(4,0.75fr);

}

main .middle>div{
    background: var(--color-white);
    padding:  var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .middle>div:hover{
    box-shadow: none;
}

main .middle .middle_top .material-icons-sharp{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 3rem;
    grid-area: 1/1/2/2;
}

main .middle .middle_top {
    display: grid;
    grid-template-columns:  0.1fr 1.5fr 1.5fr ;
    
}

main .middle .middle_top>h3{
    justify-self: center; 
    grid-area: 1/2/2/3;
    font-size: 1.5rem;
    align-self: center;
}

main .middle .middle_top >.top_right{
    justify-self: center; 
    grid-area: 1/3/2/4;
    font-size: 1.5rem;
    align-self: center;
}


/* ==========================TOGGLE========================== */

.top_right .toggle{
   display: flex;
   column-gap: 1.2rem;
}

.toggle input{
    /* border: #ff7782 solid 0.3rem; */
    /* position: absolute; */
    opacity: 0;
    width:0;
    height:0;
}

.toggle .onoff{
    color: var(--color-primary);
    font-size: 1.5rem;
    /* text-align: center */
}

.slider1{
    /* border: #ff7782 solid 0.3rem; */
    /* display: block; */
    position: relative;
    cursor: pointer;
    background-color: var(--color-dark);
    transition: all 300ms ease;
    width: 4rem;
    height: 2rem;
}

.slider1:before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 1.6rem;
    background-color: var(--color-white);
    transition: all 300ms ease;
    top:0.2rem;
    left:0.3rem
}

input:checked + .slider1{
    background-color: var(--color-primary);
    box-shadow:0 0 1rem var(--color-primary);
}
input:checked + .slider1:before{
    /* background-color: var(--color-black); */
    transform: translateX(1.4rem);
}

.slider1.round{
    border-radius: 5rem;

}
.slider1.round:before{
    border-radius: 5rem;

}



/* ========================SLIDER======================== */
.slider{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.slider span:first-of-type{
    grid-area: 1/1/2/2;
    font-size: 2rem;
    justify-self: center;
    align-self: center;

}

.slider span:last-of-type{
    grid-area: 1/3/2/4;
    font-size: 4rem;
    justify-self: center;
    align-self: center;
    
}

.slider input{
    grid-area: 1/2/2/3;
    /* justify-self: center; */
    align-self: center;
    font-size: 1rem;
    height: 1rem;
    background: linear-gradient(to right, #f6f6cf, #f3eca4);
    transition: all 300ms ease;
    border-radius: 0.5rem;

}

/* ============================BOTTOM COLORS============================ */

.bottom{
    /* align-self: center; */
    display: grid;
    grid-template-rows: repeat(2,0.1fr);

}

.bottom h3{
    margin-top: 1.5rem;
    grid-area: 1/1/2/3;
    font-size: 1.5rem;
    justify-self: start;
    align-self: center;
}

.colors_grid {
    grid-area:2/1/3/3 ;
    width: 80%;
    align-self: center;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    margin-left: 6rem;
}

.color{
    position: relative;
    height: 4rem;
    display: inline;
}

.color span{
    position: absolute;
    left:17px;
    top: 13px;
    z-index: 3;
    display: none;
}

.color.active span{
    position: absolute;
    left:17px;
    top: 13px;
    z-index: 3;
    display: block;
} 

.color label{
    cursor: pointer; 

} 
.color svg{
    width: 4rem;
    height: 4rem;
}


.color svg circle{
    display: block;

}

 .white_circle{
    fill: white;
    stroke: black ;
    stroke-width:0.2rem;
}

 .white_circle:hover{
    fill-opacity: 0.9;
    stroke-opacity: 0.6;
}

 .orange_circle{
    fill: orange;
    stroke: black ;
    stroke-width:0.2rem;
}

 .orange_circle:hover{
    fill-opacity: 0.9;
    stroke-opacity: 0.6;
}

 .yellow_circle{
    fill: yellow;
    stroke: black ;
    stroke-width:0.2rem;
}

 .black_circle:hover{
    fill-opacity: 0.9;
    stroke-opacity: 0.6;
}

 .blue_circle{
    fill: blue;
    stroke: black ;
    stroke-width:0.2rem;
}

 .blue_circle:hover{
    fill-opacity: 0.9;
    stroke-opacity: 0.6;
}

 .purple_circle{
    fill: purple;
    stroke: black ;
    stroke-width:0.2rem;
}

 .purple_circle:hover{
    fill-opacity: 0.9;
    stroke-opacity: 0.6;
}

 .red_circle{
    fill: red;
    stroke: black ;
    stroke-width:0.2rem;
}

 .red_circle:hover{
    fill-opacity: 0.9;
    stroke-opacity: 0.6;
}


/* ========================Outlet======================== */
.socket1{
    height: 15rem;
    /* font-size: 1.5rem; */
    /* width: 100% ; */
}

/* ========================ADD======================== */
.middle .add_device{
    height: 12rem;
    background-color: transparent;
    border:2px dashed var(--color-primary);
    color:var(--color-primary);
    display: flex;
    align-items: center ;
    justify-content: center ;

}

.middle .add_device div{
    display: flex;
    align-items: center;
    gap:0.6rem;
    cursor: pointer;
    /* font-size: 10rem; */

}

/* .middle .add_device button{
    width: 100%;
    height: 100%;
    display: none;
} */

.middle .add_device .middle_icon h3,.middle .add_device .middle_icon span{
    font-size: 2.5rem;
}

/* ========================Select Box======================== */


/* option box */
.middle .selected-box{
    position: fixed;
    top :50%;
    left :50%;
    display: flex;
    width:500px;
    height: 300px;
    z-index: 10;
    flex-direction: column;
    padding: 20px;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: var(--color-background);
    /* justify-content: space-between; */
}



.middle .selected-box.active{
    transform: translate(-50%,-50%) scale(1);
}

.selected-box .options-container{
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-size: 1.5rem;
    max-height: 0;
    width:100%;
    opacity: 0;
    transition:  all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected{
    background-color:  var(--color-primary);
    border-radius: 8px;
    margin-bottom: 4px;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    order: 0;
}

.selected-box .oprtion,.selected{
    padding: 6px 12px;
    cursor: pointer;
}

.selected-box .option:hover {
    background: var(--color-success);
}

.selected-box .option .radio{
    display: none;
}
.selected-box label{
    cursor: pointer;
}

.selected-box .option{
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}
.selected-box .option span{
    color: var(--color-background);
}


.selected-box .options-container.active-option{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.selected-box .options-container::-webkit-scrollbar{
    width: 8px;
    background: var(--color-danger);
    border-radius: 0 8px 8px 0;
}

.selected-box .options-container::-webkit-scrollbar-thumb{
    background: var(--color-success);
    border-radius: 0 8px 8px 0;
}

/* entry box */
.id-entry{
    margin-top: 1.5rem;
   
    /* font-size: 2rem; */
    order: 2;
}

.id-entry h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.id-entry input,.id-entry .submit{
    
    font-size: 1.5rem;
    height: 2.5rem;
    /* width: 25rem; */
}

.id-entry input[ type="text"]{
    box-shadow: 1.75px 1.75px var(--color-light);
    background: var(--color--info-light);
    border-radius: 25px 0 0 25px;
    padding:0 15px ;
}

.id-entry input[ type="submit"]{
    box-shadow: 3.5px 3.5px var(--color-light);
    transition: all 300ms ease;
    background: var(--color-success);
    border-radius: 0 25px 25px 0;
    width: 4.5rem;
    
    /* padding:0 15px ; */
}

.id-entry input[ type="submit"]:hover{
    font-size: 1.3rem;
    width: 4rem;
    box-shadow: none;
    cursor: pointer;
}
/* .id-entry .submit{
    box-shadow: 3.5px 3.5px var(--color-light);
    transition: all 300ms ease;
    background: var(--color-success);
    border-radius: 0 25px 25px 0;
    width: 4.5rem;
    
    /* padding:0 15px ; 
}

.id-entry .submit:hover{
    font-size: 1.3rem;
    width: 4rem;
    box-shadow: none;
    cursor: pointer;
} */

/* close button */
button.close-button{
    /* padding-bottom: 1.5rem; */
    /* color: #ff7782; */
    background: var(--color-danger);
    font-size: 1.2rem;
    margin-bottom: 0.9rem;
    width: 12%;
    align-self: flex-end;
    border-radius: 10px;
    order: -1;
    cursor: pointer;
    font-weight: bold;
}

#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}
